$body-font-family: 'Apple SD Gothic Neo', '맑은 고딕', '굴림', sans-serif !important;
$heading-font-family: $body-font-family;
$text-color-gray_dark: #34363c;
$text-color-gray_light: #575a61;
$text-color-blue: #3370ff;
$text-color-white: #fff;

.yc-ds-h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $text-color-gray_dark;
}

.yc-ds-body-1 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $text-color-gray_light;
}

.yc-ds-main {
  background: #f1f2f4 !important;
  font-family: $heading-font-family;
  align-items: center;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}

.yc-ds-box {
  width: 532px;
  height: auto;
  background-color: $text-color-white !important;
  border: 1px solid #c7cad0;
  border-radius: 3px;
  padding: 72px 32px 28px !important;
}

.yc-ds-button a {
  background: $text-color-blue;
  border-radius: 2px;
  display: inline-flex;
  height: 44px;
  width: 244px;
  align-items: center;
  justify-content: center;
}

.yc-ds-button-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-white;
  padding: 14px 20px 12px;
  letter-spacing: -0.002em;
  text-transform: capitalize;
}

.yc_line {
  border: 1px solid #e2e4e9;
  border-width: 1px 1px 0 1px;
}

.yc-text-color_blue {
  color: $text-color-blue !important;
}